.presentation__button{
    display: none;
    position: absolute;
    height: fit-content;
    background-color: white;
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    justify-content: center;
    align-items: center;

 .presentation__button--icon{
    width:25px;
     height: 25px;
     display:inline-block;
 
 &.Play{
    background-image: url(../assets/icons/play.svg);
    background-repeat: no-repeat;
    background-position: center;
 }
 &.Pause{
 
    background-image: url(../assets/icons/pause.svg);
    background-repeat: no-repeat;
    background-position: center;
 }
 &.State{

   &.Mute{
      background-image: url(../assets/icons/mute.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      margin-left: 1rem;
    }
    &.unMute{
       display: none;
      }
 }
 

}


}
.presentation__button:hover{
    background-color: rgb(220, 220, 220);
    }
    .presentation__button:active{
        background-color: rgb(179, 179, 179);
        }
.presentation__button.displayButton{
animation: image-appear 1s ease-in-out;
display: flex;

}