@import "./global";
@import "./button";
@import "./mediaQuery";



.presentation{
    display: flex;
    width: 100%;
    min-height: 160px;
    align-items: flex-end;
    height: 40vh;
    &__text{
    
    height: 30vw;
    font-weight: 700;
    font-size:clamp(1.5rem, 2vw, 1.7rem);
    position: absolute;
    width: clamp(45rem, 40vw, 70rem);


    min-width: 250px;
    max-height: 162px;
    
    }
    &__image{
    position: relative;
    align-self: flex-start;
    margin-bottom: 10vw;
    width: 45vw;
    min-width: 500px;
    }

}


.header__menu{
    display: flex;
        align-items: center;
        
    &--photo{
        background-image: url(../assets/icons/user-icon.png);
        width: 3vw;
        height: 3vw;
        min-height: 30px;
        min-width: 30px;
        display: inline-block;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;    
    }
    
    &--submenu{
    
    position:absolute;
    z-index: 1;
    text-decoration: none;
    background-color: rgb(10, 10, 10);
    top: 70px;
    color: whitesmoke;
    display: none;
    list-style: none;
    min-width:2vw;
    right:5vw; 
    min-height: 5vh;
    border-radius: 10px;
    font-size:clamp(1.5rem, 2vw, 1.7rem);

    & li{
        margin: 2.5vh 1.5vw;
        & a {
            color:whitesmoke;
            text-decoration: none;
         
        }
        
    }
     

}
}

.header__menu:hover ul, ul:hover,.header__menu:active ul, ul:active{
    text-align: right;

    display: block;

    }

.header__nav{
    z-index: 1;

    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: 'Bebas Neue', cursive;

        align-items: center;
        
        display: flex;
      
    
    width: 2vw;
    height: 2vw;
    min-height: 50px;
    min-width: 50px;
   
    margin: 2vw;


    &--a{
        color: red;
        font-size:clamp(2rem, 7vw, 10rem);
        
        }
    &--lejandro{

        font-size:clamp(2rem, 7vw, 8rem);
    }
    
    
    &--tv{
        color: red;
        font-size:clamp(2rem, 7vw, 9rem);
        }
}


.movie{
    z-index: 0;
    position: absolute;
    width: auto;
    min-width: 100vw;    
    height: auto;
    display: none;
    animation: image-appear 1s ease-in-out;
}
    
.movie.render{
    display: block;
    animation: image-appear 1s ease-in-out;

}
.movie.render.disappear{
    animation: image-disappear 1s ease-out;
}



.search-box__input{
    background:rgba(0, 0, 0, 0.7);
    border: 0.2vw solid rgba(97, 97, 97, 0.198);
    border-radius: 25px;
    color: whitesmoke;
    min-height: 20px;
    height:2vh;
    padding: 1.2vw 12px;
    min-width: 85px;
    outline: none;
    width:10vw;
    font-size:clamp(1rem, 2vw, 1.2rem);

}

.main_image{
    position: absolute;
    filter: brightness(50%);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    height:42vw;
    min-height: 540px;
    animation: image-appear 1s ease-in-out;
    z-index: 2;

}





.remove.main_image{
    animation: image-disappear 1s ease-in-out;

}




.carousel{

    position: relative;
    z-index: 2;

    width: 100%;

&__container{

    min-width: fit-content;
    display: flex;
    justify-content: center;

    

.container__item{
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    cursor: pointer;
    height: 15vw;
    opacity: 1;
    min-width: 395px;
    min-height: 243px;
    transition: 450ms;
    object-fit: cover;
    width: 25vw;
    margin-right:0;
    transform-origin: center center;

}
}


}

#star-wars{
    background-image: url(../assets/images/IG-11-Compound-DB.jpg);
}

.container__item:hover~.container__item,.container__item:active~.container__item{
    transform:translate3d(100px,0,0);
}
/* .carousel__container:hover .container__item,.carousel__container:active  */

.container__item:hover ,.container__item:active{
    transform:scale(1.2);
    border: 1px solid whitesmoke;

}

.item__info{
    transform-origin: center left;
    white-space: normal;
    background-color: linear-gradient(to top, rgba(0,0,0,0.9)0%, rgba(0,0,0,0)100%);
    font-size: 1rem;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
}

.display .item__info{
    opacity: 1;

}
.carousel__container:hover~.container__item .item__info,.carousel__container:active~.container__item .item__info{
    transform:scale(1.4);

}

@keyframes image-appear{
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}

@keyframes image-disappear{
    to{
        opacity: 0;
    }
    from{
        opacity: 1;
    }
}

