* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: whitesmoke;
  overflow-x: hidden;
  font-family: Helvetica,Arial, sans-serif;
}

body {
  overflow-x: hidden;
  font-size: clamp(1rem, 1.5vw, 2rem);
  background: #040404;
  min-height: 100vh;
}

header {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 2;
  padding-bottom: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  min-height: 100px;
}

main {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 0px;
}

.presentation__button {
  display: none;
  position: absolute;
  z-index: 3;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: white;
  border-radius: 5px;
  border: none;
  width: 150px;
  height: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.presentation__button .presentation__button--icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}

.presentation__button .presentation__button--icon.Play {
  background-image: url(../assets/icons/play.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.presentation__button .presentation__button--icon.Pause {
  background-image: url(../assets/icons/pause.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.presentation__button .presentation__button--icon.State.Mute {
  background-image: url(../assets/icons/mute.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-left: 1rem;
}

.presentation__button .presentation__button--icon.State.unMute {
  display: none;
}

.presentation__button:hover {
  background-color: gainsboro;
}

.presentation__button:active {
  background-color: #b3b3b3;
}

.presentation__button.displayButton {
  -webkit-animation: image-appear 1s ease-in-out;
          animation: image-appear 1s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.presentation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 360px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 40vh;
  line-height: clamp(1.9rem, 5vw, 3rem);
  font-size: clamp(1.7rem, 1.5vw, 2rem);
  z-index: 2;
  padding-left: 5vw;
}

.presentation__intro {
  position: relative;
  -webkit-animation: image-appear 0.5s ease-in-out;
          animation: image-appear 0.5s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
}

.presentation__intro--text {
  height: 30vw;
  font-weight: 700;
  margin-top: 10rem;
  min-width: 250px;
  max-height: 162px;
  width: clamp(45rem, 40vw, 70rem);
}

.presentation__container {
  position: relative;
  -webkit-animation: image-appear 0.5s ease-in-out;
          animation: image-appear 0.5s ease-in-out;
  display: none;
}

.presentation__container--text {
  height: 30vw;
  font-weight: 700;
  width: clamp(65rem, 57vw, 80rem);
  max-height: 162px;
}

.presentation__container--image {
  margin-bottom: 4rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 35vw;
  min-width: 500px;
}

.presentation__container.disappear {
  -webkit-animation: image-disappear 0.5s ease-in-out;
          animation: image-disappear 0.5s ease-in-out;
}

.header__nav {
  z-index: 1;
  padding-left: 5vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 3vw 0;
}

.logo {
  font-family: 'Bebas Neue', cursive;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  min-width: 50px;
}

.logo--a {
  color: red;
  font-size: clamp(3rem, 7vw, 10rem);
}

.logo--lejandro {
  font-size: clamp(3rem, 7vw, 8rem);
}

.logo--tv {
  color: red;
  font-size: clamp(3rem, 7vw, 9rem);
}

.movie {
  z-index: 0;
  position: absolute;
  width: auto;
  min-width: 100vw;
  height: auto;
  display: none;
  -webkit-animation: image-appear 1s ease-in-out;
          animation: image-appear 1s ease-in-out;
}

.movie.render {
  display: block;
  -webkit-animation: image-appear 1s ease-in-out;
          animation: image-appear 1s ease-in-out;
}

.movie.render.disappear {
  -webkit-animation: image-disappear 1s ease-out;
          animation: image-disappear 1s ease-out;
}

.main_image {
  position: absolute;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#0a0a0a), to(rgba(255, 255, 255, 0))), url("../assets/images/bb-8.jpeg");
  background-image: linear-gradient(0deg, #0a0a0a 0%, rgba(255, 255, 255, 0) 100%), url("../assets/images/bb-8.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 42vw;
  min-height: 540px;
  -webkit-animation: image-appear 1s ease-in-out;
          animation: image-appear 1s ease-in-out;
  z-index: 1;
  display: block;
}

.remove.main_image {
  -webkit-animation: image-disappear 1s ease-in-out;
          animation: image-disappear 1s ease-in-out;
}

.carousel {
  position: relative;
  z-index: 2;
  overflow-y: hidden;
  height: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.carousel__container {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.carousel__container .container__item {
  aspect-ratio: 16/9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  height: 15vw;
  opacity: 1;
  max-height: 265px;
  min-height: 243px;
  min-width: 395px;
  max-width: 420px;
  border-radius: 5px;
  -webkit-transition: 450ms;
  transition: 450ms;
  -o-object-fit: cover;
     object-fit: cover;
  width: 25vw;
  margin-right: 0;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

#star-wars {
  background-image: url(../assets/images/IG-11-Compound-DB.jpg);
}

.container__item:hover ~ .container__item, .container__item:active ~ .container__item {
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0);
}

/* .carousel__container:hover .container__item,.carousel__container:active  */
.container__item:hover, .container__item:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item__info {
  -webkit-transform-origin: center left;
          transform-origin: center left;
  white-space: normal;
  background-color: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
  font-size: 1rem;
  opacity: 0;
  -webkit-transition: 450ms opacity;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
}

.display .item__info {
  opacity: 1;
}

@-webkit-keyframes image-appear {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@keyframes image-appear {
  to {
    opacity: 1;
  }
  from {
    opacity: 0;
  }
}

@-webkit-keyframes image-disappear {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

@keyframes image-disappear {
  to {
    opacity: 0;
  }
  from {
    opacity: 1;
  }
}

@media screen and (max-width: 980px) {
  .carousel {
    top: 30vh;
    margin-top: 15vw;
    min-height: 30rem;
  }
  .carousel .container__item {
    min-height: 170px;
    min-width: 250px;
    width: 70vw;
    height: 30vh;
  }
  .container__item:hover, .container__item:active {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .header__nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .presentation__button {
    position: absolute;
    top: clamp(31rem, 54vw, 35rem);
  }
  .presentation {
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    display: -webkit-box;
    top: 35vh;
    -ms-flex-pack: center;
        justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .presentation__container {
    display: none;
    text-align: center;
    position: relative;
  }
  .presentation__container--text {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    height: auto;
    padding: 0 7vw;
    position: relative;
    min-width: 200px;
    text-align: center;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    width: 100%;
  }
  .presentation__container--image {
    width: 65vw;
    min-width: 200px;
  }
  .presentation__intro {
    position: relative;
    text-align: center;
  }
  .presentation__intro--text {
    text-align: center;
    min-width: 270px;
    width: 100%;
    padding: 0 7vw;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */