@import "./global";
@import "./button";



.presentation{
    display: flex;
    width: 100%;
    min-height: 360px;
    align-items: flex-end;
    height: 40vh;
    line-height: 2.5rem;
    &__container{
        position: relative;
        animation: image-appear 0.5s ease-in-out;
        display:none;
        

    &--text{
    
        height: 30vw;
        font-weight: 700;
        font-size: clamp(1.3rem, 2vw, 1.7rem);
    
        width: clamp(45rem, 40vw, 70rem);
    
    
        min-width: 250px;
        max-height: 162px;
        
        }
        &--image{
        margin-bottom: 4rem;
        align-self: flex-start;
        width: 35vw;
        min-width: 500px;
        }
    }
    &__intro{
        position: relative;
        animation: image-appear 0.5s ease-in-out;
        display: flex;
        align-self: center;

    &--text{
    
        height: 30vw;
        font-weight: 700;
        font-size: clamp(1.3rem, 2vw, 1.7rem);
    
        width: clamp(45rem, 40vw, 70rem);
    
    
        min-width: 250px;
        max-height: 162px;
        
        }
      
    }

}

.presentation__container.disappear{
    animation: image-disappear 0.5s ease-in-out;
    }

.header__nav{
    z-index: 1;

    align-items: center;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 3vw 0;

}

.logo{
    font-family: 'Bebas Neue', cursive;

    align-items: center;
    display: flex;
      
    

    min-height: 50px;
    min-width: 50px;
   


    &--a{
        color: red;
        font-size:clamp(3rem, 7vw, 10rem);
        
        }
    &--lejandro{

        font-size:clamp(3rem, 7vw, 8rem);
    }
    
    
    &--tv{
        color: red;
        font-size:clamp(3rem, 7vw, 9rem);
        }
}


.movie{
    z-index: 0;
    position: absolute;
    width: auto;
    min-width: 100vw;    
    height: auto;
    display: none;
    animation: image-appear 1s ease-in-out;
}
    
.movie.render{
    display: block;
    animation: image-appear 1s ease-in-out;

}
.movie.render.disappear{
    animation: image-disappear 1s ease-out;
}


.main_image{
    position: absolute;
    filter: brightness(50%);
    background-image: url('../assets/images/bb-8.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    width: 100%;
    height:42vw;
    min-height: 540px;
    animation: image-appear 1s ease-in-out;
    z-index: 2;
    display: block;
}





.remove.main_image{
    animation: image-disappear 1s ease-in-out;
}




.carousel{

    position: relative;
    z-index: 2;

    margin-top: 2rem;

    width: 100%;

    &__container{

        min-width: fit-content;
        display: flex;
        justify-content: center;

    

.container__item{
    aspect-ratio: 16/9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    cursor: pointer;
    height: 15vw;
    opacity: 1;
    

    max-height: 265px;
    min-height: 243px;
    
    min-width: 395px;
    max-width: 420px;

    transition: 450ms;
    object-fit: cover;
    width: 25vw;
    margin-right:0;
    transform-origin: center center;

}
}


}

#star-wars{
    background-image: url(../assets/images/IG-11-Compound-DB.jpg);
}

.container__item:hover~.container__item,.container__item:active~.container__item{
    transform:translate3d(100px,0,0);
}
/* .carousel__container:hover .container__item,.carousel__container:active  */

.container__item:hover ,.container__item:active{
    transform:scale(1.2);
    border: 1px solid whitesmoke;

}

.item__info{
    transform-origin: center left;
    white-space: normal;
    background-color: linear-gradient(to top, rgba(0,0,0,0.9)0%, rgba(0,0,0,0)100%);
    font-size: 1rem;
    opacity: 0;
    transition: 450ms opacity;
    padding: 10px;
    position: absolute;
}

.display .item__info{
    opacity: 1;

}
.carousel__container:hover~.container__item .item__info,.carousel__container:active~.container__item .item__info{
    transform:scale(1.4);

}

@keyframes image-appear{
    to{
        opacity: 1;
    }
    from{
        opacity: 0;
    }
}

@keyframes image-disappear{
    to{
        opacity: 0;
    }
    from{
        opacity: 1;
    }
}

@media screen and (max-width: 980px){
    
    .carousel{
        top: 30vh;
        &__container{

            margin-bottom: 30rem;
            margin-top: 7rem;
      
    }

    

     .container__item{
        min-height: 170px;
        min-width: 250px;
        width: 50vw;
        height: 30vh;
        margin-top: 5vh;
        }
    }


    .container__item:hover ,.container__item:active{
        transform:scale(1.1);
    
    }
    
    .header__nav{
    
        justify-content: center;
    
    }


    .presentation__button{
        position: absolute;
        top: clamp(32rem, 45vh, 35rem);
    }
    .presentation {
        display: flex;
        position:relative;
        -webkit-box-align:center;
        -webkit-box-pack:center;
        display:-webkit-box;
        top: 35vh;
        justify-content: center;
        flex-direction: column;

     &__container{
         position: relative;
         text-align: center;
        
        display: none;
        
        &--text {
            text-align: center;
            min-width: 200px;
            width: 100%;
            padding: 0 7vw;
            position: relative;
            align-items: center;
            }
        &--image{
            width: 65vw;
            min-width: 200px;
            }
    
    }
         



        }
    
      

}